body { background: #bfd9e9 ; }

h1 { background: #bcdcf1 ; 
	 color: #717b82 ;
 }
 h2 { color: white ;
 	  margin:  1em; 
 }
 h3{ color: white;
 	margin: 2em;
  }
  h4{
  	color:white;
  	margin: 2em;
  }
  .linea {
  	color: #2f3d47;
  }
  #cita{ background: #0f466d;
  		color: white;
  		margin: 3em;
   }